@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.scroll::-webkit-scrollbar {
    width: 4px;
}

.scroll::-webkit-scrollbar-track {
    @apply bg-secondary-200 rounded-sm;
}

.scroll::-webkit-scrollbar-thumb {
    @apply bg-primary-500 rounded-sm;
}

html,
body,
input,
button {
    font-family: Tahoma, Arial, sans-serif;
}

.message {
    line-height: 1.8;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}
